<% layout("/layouts/boilerplate") %>
<div class="row mt-7 mem-edit">
    <div class="col-8 offset-2">
         <form method="POST" action="/home/admin/<%= member._id %>?_method=PUT" class="needs-validation" novalidate>
            <h3 class="text-info">Edit Member Detail</h3>
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input 
                    name="member[name]" 
                    value="<%= member.name %>" 
                    type="text"
                    class="form-control" 
                    required
                />
                <div class="valid-feedback">Name looks good!</div>
            </div>

            <div class="mb-3">
                <label for="imageUrl" class="form-label">Image URL</label>
                <input 
                    name="member[image][url]" 
                    value="<%= member.image.url %>" 
                    type="text"
                    class="form-control" 
                    id="imageUrl"
                    required
                />
                <div class="invalid-feedback">Please enter valid image link</div>
            </div>

            <div class="mb-3">
                <label for="age" class="form-label">Age</label>
                <input
                    name="member[age]"
                    value="<%= member.age %>"
                    type="number"
                    class="form-control"
                    required />
                <div class="invalid-feedback">Please enter Age</div>
            </div>

            <div class="row">
                <div class="mb-3 col-md-3">
                    <label for="contact" class="form-label">Contact</label>
                    <input 
                        name="member[contact]" 
                        value="<%= member.contact %>" 
                        type="number"
                        class="form-control" 
                        required
                    />
                    <div class="invalid-feedback">Please enter valid Contact Number</div>
                </div>

                <div class="mb-3 col-mb-7">
                    <label for="adress" class="form-label">Adress</label>
                    <textarea 
                        name="member[adress]"   
                        class="form-control" 
                        required    
                    ><%= member.adress %></textarea>
                    <div class="invalid-feedback">Please enter Adress</div>
                </div>
            <button class="btn btn-info  mb-3">Edit</button>
        </form>
    </div>
</div>
